@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&family=Tiro+Devanagari+Sanskrit:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none
}

body {
    font-size: 100%;
    background: linear-gradient(68.15deg, #2f2325 16.62%, #8e5d52 85.61%);
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 25px;
}

.cabecalho-imagem {
    height: 65px;
}

.cabecalho-menu {
    display: flex;
    gap: 50px;
}

.cabecalho-menu-item {
    font-family: 'Sarala', sans-serif;
    color: #fff2e7;
    font-weight: 400;
    font-size: 20px;
}

.conteudo {
    border-top: 1px solid #fff2e7;
    margin-bottom: 50px;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.conteudo-principal-escrito-titulo {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 65px;
    color: #fff2e7;
}

.conteudo-principal-escrito-subtitulo {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: #ecd6c4;
}

.conteudo-principal-escrito-botao {
    background-color: #ecd6c4;
    width: 200px;
    height: 70px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: #2f2325;
}

.conteudo-principal-escrito-botao:hover {
    background-color: rgba(236, 214, 196, 0.53);
}

.conteudo-principal-imagem {
    height: 400px;
}

.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin-top: 50px;
}

.conteudo-secundario-titulo {
    border-top: 1px solid #fff2e7;
    padding-top: 50px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 25px;
    color: #fff2ef;
    margin-bottom: 20px;
}

.conteudo-secundario-paragrafo {
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #ecd6c4;
}

.rodape {
    padding: 40px;
    border-top: 1px solid #fff2e7;
}

.rodape-imagem {
    height: 50px;
    display: block;
    margin: 0 auto;
}